@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.wave {
  position: absolute;
  width: 100%; 
  height: 100%;
}

.container {
  position: relative;
}

.form-holder {
  background-color:#fff;
  border-radius: 5%;
}

.login-helper {
  opacity: 60%;
}

#email, #password {
  border-radius: 50px;
}

#email:focus, #password:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #F18F01;
}

.btn-login {
  border-radius: 50px;
  color:#fff;
  background-color:#F18F01;
}

.btn-login:hover {
  background-color:#fff;
  color: #F18F01;
  border-color: #F18F01;
}